<main class="kanBan" id="app-kanBan" > 
    </section>
    <section class="kanBan-backlog" >
       <h3 id="h3-backlog">Backlog</h3>
       <div class="dropMemo" id="memo-kanBan-backlog" >
       </div>
       <button class="btn-addCard" id="btn-backlog">+ Add card</button>
    </section>
    <section class="kanBan-ready" id="app-kanBan-ready">
        <h3 id="h3-ready">Ready</h3>
        <div class="dropMemo" id="memo-kanBan-ready" ></div>
        <button class="btn-addCard"  id="btn-ready">+ Add card</button>
        <ul id="ulReady">
        </ul>
    </section>
    <section class="kanBan-inProgress" id="app-kanBan-inProgress">
        <h3 id="h3-inProgress">In Progress</h3>
        <div class="dropMemo div" id="memo-kanBan-inProgress" disabled></div>
       
        <button class="btn-addCard" id="btn-inProgress">+ Add card</button>
        <ul id="ulInProgress">
        </ul>
    </section>
    <section class="kanBan-finished" id="app-kanBan-finished">
        <h3 id="h3-finished">Finished</h3>
        <div class="dropMemo"  id="memo-kanBan-finished" ></div>
        <button class="btn-addCard" id="btn-finished">+ Add card</button>
        <ul id="ulFinished">
        </ul>
    </section>
    

</main>  
<footer class="footer footer-expand-lg">
   
        <div class="leftSideFooter">
            <span class="tasks" id="activTasks">

            </span>
            <span class="tasks" id="finishedTasks">

            </span>
        </div>
        <div class="rigthSideFooter">
            <span class="tasks" id="nameAndDate">

            </span>
        </div>        
        
  
</footer>